@font-face {
    font-family: 'Amarante-Regular';
    src: url('../font/Amarante-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Amarante-Regular';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    display: block;
}
/**header**/
header {
    position: relative;
    margin: 0 auto;
}
header #header_nav {
        min-width: 915px;
        
    }
header #header_nav .gnb {
        height: 25px;
        line-height: 25px;
        background-color: #2d1152;
        overflow: hidden;
       
}

header #header_nav .gnb > div {
            float: left;
            margin: 2px;
            margin: 0 10px;
}

header #header_nav .gnb .survivaFootball {
        float: right;
        color: white;
        margin-right: 20px;
}

header #header_nav .gnb > div a {
            color: white;
}

header #header_nav .gnb .survivaFootball img {
            width: 15px;
}

header #info { 
        text-align: center;
        overflow: hidden;
        width:1000px;
        margin:0 auto;  
}

header #info .logo {
            float: left;                                  
            margin: 10px 20px 0 0;
        }
        header #info form {
            float: left;
            margin:0 auto;
            
        }

 header #info input[type='text'] {
            width: 400px;
            border-color: #3488d9;
            margin-top:20px;
            padding:5px;
            font-size:20px;
}
header #info input[type='submit'] {
            background: url('../img/search_btn.png')center no-repeat;
            border: 0;
            outline: 0;            
            width: 124px;
            height: 37px;
            color: white;
            
}

header #info .service ul {
            float: right;
            overflow: hidden;         
            padding: 10px 0px;
}

 header #info .service ul li {
              float: left;
              margin: 20px;
 }

 header #info .service ul li a {
                color: #2d1152;
                font-weight: bold;
}
 /****content****/
#content {
    width:1000px;
    margin: 0 auto;
    overflow:hidden;
}
#content #main_menu{
    width:155px;
    height:610px;
    float:left;
}
#content #main_menu ul li{
    height:46px;   
    text-align:center;
}
#content #main{
    width:600px;
    float:left;
}
#content #main div{
    margin-bottom:3px;
}
#content #main div:nth-child(1){
    width:600px;
    height:300px;
    border:1px solid gray;
    box-sizing:border-box;
}
#content #main div:nth-child(2){
    height:150px;
    border:1px solid gray;
    box-sizing:border-box;
}
#content #main div:nth-child(3){
    height:50px; line-height:50px;
    background-color:#500095;
}
#content #main div:nth-child(3) ul li{
    float:left; 
    text-align:center;
    width:100px;
      
}
#content #main div:nth-child(3) ul li a{
    color:white;
}
#content #main div:nth-child(4), div:nth-child(5),
div:nth-child(6), div:nth-child(7) {
        height: 100px;
        border: 1px solid gray;
        box-sizing: border-box;
}
 #content #main_banner {
    width: 230px;
    float: left;
    margin-left:3px;
}
#content #main_banner div {
    margin-bottom: 3px;
}

#content #main_banner div:nth-child(1) {
    height: 100px;
    border: 1px solid gray;
    box-sizing: border-box;
}
#content #main_banner div:nth-child(2){
     height: 100px;
    border: 1px solid gray;
    box-sizing: border-box;
}
#content #main_banner div:nth-child(3){
     height: 150px;
    border: 1px solid gray;
    box-sizing: border-box;
}
#content #main_banner div:nth-child(4){
      height: 150px;
    border: 1px solid gray;
    box-sizing: border-box;
}
#content #main_banner div:nth-child(5){
height: 200px;
border: 1px solid gray;
box-sizing: border-box;
}
footer {
    width: 1000px;
    height: 100px;
    border:1px solid gray;
    margin: 0 auto;
    
}
footer ul{overflow:hidden;}
footer ul li{
    float:left;
  }
footer ul li:first-child{
    margin:20px 50px 20px 150px;
}
footer ul li:last-child{
    margin:15px 0;
}









            